body {
    background-color: #f5f5f5;
}

.calculadora-container {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 1em;
    /* Tamanho de fonte para dispositivos móveis */
}

.titulo {
    text-align: center;
    font-weight: bold;
}

.total-investido {
    text-align: center;
    margin-top: 0px;
}

.total-investido span {
    font-weight: bold;
    color: black;
    /* Cor padrão para o texto */
}

.mensagem-erro {
    color: red;
    font-size: 0.8em;
    display: none;
    /* Escondido por padrão */
    text-align: center;
}

.progress {
    height: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.progress-bar {
    transition: width 0.5s ease;
}

/* Media Query para telas maiores */
@media (min-width: 576px) {
    .calculadora-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }

    h2 {
        font-size: 1.5em;
    }
}